<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="http://placehold.it/300x200" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" name="email" [(ngModel)]="user.email" #userEmail="ngModel" required></ion-input>
            </ion-item>
            <div class="errors" [hidden]="userEmail.valid || userEmail.untouched">
              <div *ngIf="userEmail.errors && userEmail.errors.required">
                Email is required
              </div>
              <!-- <div *ngIf="userEmail.errors && userEmail.errors.pattern">
                Email is invalid
              </div> -->
            </div>
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid" (tap)="submit(user)">{{isLoggingIn ? 'Sign In' : 'Sign Up'}}</button>
          <button ion-button class="register-btn" block clear (tap)="toggleDisplay()">{{isLoggingIn ? 'Sign Up' : 'Back to login'}}</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="linkedin-col">
          <button ion-button class="linkedin-btn" round type="submit" (tap)="linkedInSignUp()">SignUp with LinkedIn</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>